* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("assets/fonts/Gilroy-Medium.ttf") format("truetype"),
    local("Gilroy-Medium");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("assets/fonts/Gilroy-SemiBold.ttf") format("truetype"),
    local("Gilroy-SemiBold");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("assets/fonts/Gilroy-Regular.ttf") format("truetype"),
    local("Gilroy-Regular");
}
